* {
    box-sizing: border-box;
}


html, body {
    overflow-x: hidden;
}

body {
    position: relative
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    max-width: 100%;
    overflow-x: hidden;
}

.nav-bar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    width: calc(100%);
    max-width: 100%;
    overflow: visible;
    background: rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.nav-item {
    position: relative;
    margin: 5px 20px;
    text-decoration: none;
    border-bottom: rgba(255, 255, 255, 0) 2px solid;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px 10px;
}

.nav-dropdown {
    display: none;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 35px 0 0;
    z-index: 100;
}

.nav-dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: aliceblue;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    color: rgb(59, 108, 166);
    transition: 0.3s;
}

.nav-dropdown-content > a {
    width: 100%;
    text-align: center;
    font-size: 15px;
    transition: 0.3s;
    min-width: max-content;
    text-decoration: none;
    padding: 5px 10px;
    color: rgb(59, 108, 166);
    border-radius: 8px;
}

.nav-item:hover .nav-dropdown {
    display: block;
    opacity: 1;
    transition: 0.3s;
}

.nav-dropdown-content > a:hover {
    text-decoration: none;
    transform: scale(1.1);
    transition: 0.3s;
    background: rgb(59, 108, 166,0.2);
}

.nav-item>a {
    color: #fff;
}

.nav-item>a:hover {
    text-decoration: none;
}

.nav-item:hover > a {
    color: rgb(59, 108, 166);
    transition: 0.5s;
    text-decoration: none;
}

.nav-colored {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.nav-links-colored a {
    color: rgba(0, 0, 0, 1);
    transition: 0.5s;
}

.nav-links-colored>.nav-item:hover {
    background-color: aliceblue;
}

.nav-bar i.fas {
    display: none;
}


.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
}

.hero-container>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    min-width: 300px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    padding: 40px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
}

.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid rgb(59, 108, 166);
    border-radius: 8px;
    background: rgb(59, 108, 166, 0.1);
    width: 100%;
    padding: 1px;
}

.searchbar>input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 25px;
    color: rgb(59, 108, 166);
}

.searchbar>i {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
    background: rgb(59, 108, 166);
    color: #fff;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
}

.main-cards-container {
    display: flex;
    flex-direction: row;
    padding: 50px 30px;
    justify-content: space-evenly;
    background: aliceblue;
    flex-wrap: wrap;
}

.orange-line {
    margin: 0;
    background-color: rgba(227, 105, 68, 1);
    height: 2px;
}

.card {
    border-radius: 15px !important;
    min-height: 415px;
    transition: 0.3s;
    margin: 10px 0 !important;
    padding: 0 !important;
}

.card:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.card-body {
    background: rgba(43, 42, 48, 0.2);
    margin: 0 !important;
    border-radius: 0 0 15px 15px;
    /* height: 100%; */
}

.card-body>span {
    display: flex;
    align-items: center;
    width: max-content;
    padding: 0 5px;
    border: 1px solid rgb(59, 108, 166);
    background-color: rgba(59, 108, 166, 0.1);
    color: rgb(59, 108, 166);
    border-radius: 5px;
}

.card-title {
    margin: 0;
    padding: 15px;
    border-bottom: 3px solid rgba(227, 105, 68, 1);
    color: rgba(227, 105, 68, 1);
    font-size: 30px;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(to right, rgba(59, 108, 166, 1), rgba(59, 108, 166, 0.8));
    color: #fff;
}

h4.card-title {
    margin: 0;
}

.specs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0;
    transition: 0.3s;
}

.download:hover, .upload:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.download, .upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid rgba(43, 42, 48, 0.5);
    background: rgba(43, 42, 48, 0.2);
    color: rgba(227, 105, 68, 1);
    font-size: 20px;
    font-weight: 500;
    box-shadow: inset 0 0 10px rgba(43, 42, 48, 0.5);
    transition: 0.5s;
    cursor: default;
}

.upload {
    color: rgba(59, 108, 166, 1);
}

.card-price {
    color: rgba(59, 108, 166, 1);
    font-size: 20px;
}

.card-price span {
    font-size: 70px;
}

.card-price p {
    font-size: 20px;
}

.card-text>i {
    color: rgba(59, 108, 166, 1);
}

.card-body button {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(227, 105, 68, 0.1);
    border: 2px solid rgba(227, 105, 68, 1);
    color: rgba(227, 105, 68, 1);
    cursor: pointer;
    outline: none;
    padding: 5px;
    transition: 0.3s;
}

.card-body button:focus {
    outline: none;
    background-color: rgba(227, 105, 68, 0.2);
    transition: 0.3s;
}

button {
    outline: none;
    cursor: pointer;
}

button:focus {
    outline: none;
    transition: 0.3s;
}

.project-container {
    margin-top: 90px;
    padding: 100px;
}

.project-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    min-height: 400px;
    transition: 0.5s;
}

.project-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../assets//homeProjects.jpg") center center;
    background-size: cover;
    border-radius: 15px 0 0 15px;
    width: 50%;
    transition: 0.5s;
}

.project-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;

}

.project-title > h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    opacity: 0;
    transition: 0.5s;
}

.project-card:hover  .project-title {
    background: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}   

.project-card:hover  .project-title > h1 {
    opacity: 1;
    color: #fff;
    transition: 0.5s;
}


.project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 30px;
}

.project-type {
    width: 100%;
    padding: 5px 10px;
    border-radius: 8px;
    background: rgba(59, 108, 166, 0.2);
    color: rgba(59, 108, 166, 1);
    font-size: 25px;
    text-align: center;
    font-weight: 500;
}

.accordions-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 150px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/house1.jpg') center center;
    background-size: cover;
}

.accordions-container>h1 {
    text-align: center;
    font-style: italic;
    font-size: 50px;
    font-weight: 700;
    -webkit-text-stroke: 2px black;
    color: #fff;

}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(2px);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: 0.4s;
    margin-bottom: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active-accordion, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background: rgba(255, 255, 255, 0.6);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
}

.panel-content {
    margin: 20px auto;
}

.panel-content > h3 {
    text-align: center;
    font-style: italic;
}

.contact-section {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(../assets/bg-banner.jpg) no-repeat center center;
    background-size: cover;
}

.contact-section>h1 {
    text-align: center;
    color: #fff;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 20px;
    width: 50%;
    padding: 50px;
    color: #fff;
}

.contact-left>i {
    font-size: 60px;
}

.contact-right {
    width: 50%;
    padding: 50px;
}

.contact-form>input, .contact-form>textarea {
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    border: 2px solid rgba(59, 108, 166, 1);
    background-color: #fff;
    transition: 0.3s;
}

.contact-form>input:focus, .contact-form>textarea:focus {
    background-color: aliceblue;
    transition: 0.3s;
}

.blue-btn {
    padding: 5px 20px;
    border: 2px solid rgba(59, 108, 166, 1);
    border-radius: 5px;
    margin: 15px 0;
    background-color: rgba(59, 108, 166, 8);
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .nav-bar {
        padding: 5px 20px;
        width: calc(100%);
    }

    .nav-links-colored a {
        color: #fff;
    }

    .nav-links {
        display: flex;
        flex-direction: column;

        background: gray;
        position: fixed;
        top: 0;
        right: -100vw;
        height: 100vh;
        width: 100vw;
        max-width: 100vw;
        z-index: 2;
        transition: 0.4s ease-in-out;
        background: rgba(0, 0, 0, 0.9);
    }

    .nav-links>a {
        color: rgb(128, 128, 128);

    }

    .nav-links>span {
        text-align: center;
    }

    .nav-links>*:hover {
        color: #fff;
    }

    .nav-item {
        border-bottom: 1px solid #fff;
        border-radius: 0px;
        margin: 0 10px;
        padding: 10px 0;
    }

    .nav-dropdown {
        display: none;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 5px 0 0;
        z-index: 100;
    }

    .nav-bar i.fas {
        display: block;
        font-size: 20px;
        padding: 20px;
        text-align: right;
    }

    .nav-bar i.fas.fa-bars {
        padding: 0;
        color: rgb(59, 108, 166);
    }

    .project-container {
        padding: 70px 30px;
    }
    
    .project-card {
        flex-direction: column;
    }
    
    .project-header {
        border-radius: 15px 15px 0 0;
        width: 100%;
        min-height: 200px;
    }

    .project-title {
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }

    .project-title > h1 {
        opacity: 1;
        color: #fff;
    }
    
    .project-content {
        width: 100%;
    }

    .accordions-container {
        padding: 20px;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-left, .contact-right {
        width: 100%;
    }
}