/* blue color: #3b6ca6, rgb(59, 108, 166) */
/* orange color: #af533c, rgba(227, 105, 68, 1)
*/

* {
    box-sizing: border-box;
}


html, body {
    overflow-x: hidden;
}

body {
    position: relative
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    max-width: 100%;
    overflow-x: hidden;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    height: 100vh;
    z-index: -10;
}

.bgVideo {
    width: 100vw;
    overflow: hidden;
}

.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 90px 0 0 0;
}

#carouselExampleIndicators {
    height: 100%;
    z-index: 0;
}

.carousel-item {
    height: 100%;
}

.carousel-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    background: none;
    width: 100%;
    height: 100%;
}

.item-container span {
    font-size: 30px;
}

.left-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 50%;
    background: none;
}

.right-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 50%;
    background: none;

}

.right-item>span, .left-item>span {
    font-family: 'Charm', cursive;

}

.main-text {
    font-size: 6vw;
    font-weight: 900;
    user-select: text;
    font-style: italic;
    text-shadow: 0 0 20px #43A6C6;
    -webkit-text-stroke: #43A6C6 2px;
    line-height: 1;
}

.blue-Bg {
    color: #fff;
    text-shadow: 5px 3px 5px rgba(59, 108, 166, 1);
    -webkit-text-stroke: 1px rgba(59, 108, 166, 1);
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
}

.price-container {
    text-align: center;
    top: 15%;
    left: 30%;
    color: rgba(227, 105, 68, 1);
    border-radius: 10px;
    border: #43A6C6 3px solid;
    padding: 10px;
    box-shadow: 0 0 10px #43A6C6;
}


.price-container2 {
    text-align: center;
    top: 15%;
    right: 40%;
    color: rgba(227, 105, 68, 1);
    border-radius: 10px;
    border: #43A6C6 3px solid;
    padding: 10px;
    box-shadow: 0 0 10px #43A6C6;
}

.slide-img {
    width: 90%;
}

.third-slide {
    display: block;
    position: relative;
}

.last-img {
    width: 55vw;
}

.white-logo {
    width: 350px;
}

.price-container>span, .price-container2>span {
    font-size: 2vw;
}

.price-container>div, .price-container2>div {
    font-size: 5vw;
}

.price-container>p, .price-container2>p {
    font-size: 1vw;
}


.services-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 150px 0;
    background: aliceblue;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.service-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 20%;
    background: rgba(43, 42, 48, 0.8);
    transition: 0.3s;
    cursor: pointer;
}

.service-item>i {
    margin-bottom: 50px;
    font-size: 75px;
    color: rgba(66, 183, 226, 1);
    cursor: pointer;
    transition: 0.3s;
}

.service-item:hover {
    background: none;
    transition: 0.3s;
}

.service-item:hover>i, .service-item:hover>h3 {
    transform: scale(1.1);
    color: rgb(59, 108, 166);
    transition: 0.3s;
}

.service-item>h3 {
    text-align: center;
    color: rgba(66, 183, 226, 1);

    /* color: rgb(59, 108, 166); */
}

.orange-line {
    margin: 0;
    background-color: rgba(227, 105, 68, 1);
    height: 2px;
}

.rate-carousel {
    background-color: rgba(128, 128, 128, 0.1);
}

/* .card {
    border-radius: 15px !important;
    min-height: 415px;
    transition: 0.3s;
    margin: 10px 0 !important;
}

.card:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.card-body {
    background: rgba(43, 42, 48, 0.2);
    margin: 0 !important;
    border-radius: 0 0 15px 15px;

}

.card-body>span {
    display: flex;
    align-items: center;
    width: max-content;
    padding: 0 5px;
    border: 1px solid rgb(59, 108, 166);
    background-color: rgba(59, 108, 166, 0.1);
    color: rgb(59, 108, 166);
    border-radius: 5px;
}

.card-title {
    margin: 0;
    padding: 15px;
    border-bottom: 3px solid rgba(227, 105, 68, 1);
    color: rgba(227, 105, 68, 1);
    font-size: 30px;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(to right, rgba(59, 108, 166, 1), rgba(59, 108, 166, 0.8));
    color: #fff;
}

h4.card-title {
    margin: 0;
}

.specs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0;
    transition: 0.3s;

}

.download:hover, .upload:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.download, .upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid rgba(43, 42, 48, 0.5);
    background: rgba(43, 42, 48, 0.2);
    color: rgba(227, 105, 68, 1);
    font-size: 20px;
    font-weight: 500;
    box-shadow: inset 0 0 10px rgba(43, 42, 48, 0.5);
    transition: 0.5s;
    cursor: default;
}

.upload {
    color: rgba(59, 108, 166, 1);
}

.card-price {
    color: rgba(59, 108, 166, 1);
    font-size: 20px;
}

.card-price span {
    font-size: 70px;
}

.card-price p {
    font-size: 20px;
}

.card-text>i {
    color: rgba(59, 108, 166, 1);
}

.card-body button {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(227, 105, 68, 0.1);
    border: 2px solid rgba(227, 105, 68, 1);
    color: rgba(227, 105, 68, 1);
    cursor: pointer;
    outline: none;
    padding: 5px;
    transition: 0.3s;
}

.card-body button:focus {
    outline: none;
    background-color: rgba(227, 105, 68, 0.2);
    transition: 0.3s;
}

button {
    outline: none;
    cursor: pointer;
}

button:focus {
    outline: none;
    transition: 0.3s;
} */

.home-ad-container {
    background: rgba(227, 105, 68, 1);
}

.home-ad {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: linear-gradient(to right, rgba(0,0,0, 0.5),rgba(227, 105, 68, 1)), url(../assets/house.jpg) no-repeat center left;
    /* background-size: 60vw; */
    background-size: cover;
    padding: 50px;
    min-height: 55vw;
    color: #fff;
}

.home-ad>div>span {
    font-size: 25px;
    font-weight: 700;
}

.ad-price {
    border: 8px solid rgba(59, 108, 166, 1);
    background: #fff;
    padding: 10px;
    border-radius: 15px;
    width: max-content;
    height: max-content;
    margin: 30px 0;
    transition: 0.3s;
    cursor: default;
}

.ad-price>h1 {
    font-size: 60px;
}

.ad-price:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.blue-btn {
    padding: 5px 20px;
    border: 2px solid rgba(59, 108, 166, 1);
    border-radius: 5px;
    margin: 15px 0;
    background-color: rgba(59, 108, 166, 8);
    color: #fff;
}

.business-ad-container {
    background: rgba(59, 108, 166, 1);
}

.business-ad {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(to right, rgba(59, 108, 166, 1),rgba(0,0,0, 0.5)), url(../assets/business.jpg) no-repeat center right;
    /* background-size: 60vw; */
    background-size: cover;
    padding: 50px;
    min-height: 55vw;
    color: #fff;
}

.business-ad>div>span {
    font-size: 25px;
    font-weight: 700;
}

.business-ad-price {
    border: 8px solid rgba(227, 105, 68, 1);
    background: #fff;
    padding: 10px;
    border-radius: 15px;
    width: max-content;
    height: max-content;
    margin: 30px 0;
    transition: 0.3s;
    cursor: default;
}

.business-ad-price>h1 {
    font-size: 60px;
}

.business-ad-price:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.orange-btn {
    padding: 5px 20px;
    border: 2px solid rgba(227, 105, 68, 1);
    border-radius: 5px;
    margin: 15px 0;
    background-color: rgba(227, 105, 68, 1);
    color: #fff;
}

.cloud-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 70px 50px 50px;
    background-color: aliceblue;
    text-align: justify;
    text-justify: inter-word;
}

.cloud-left {
    padding: 30px;
    margin: 20px;
}

.cloud-left>p {
    color: gray;
}

.cloud-right {
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    background-color: #fff;
}

.cloud-point {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.cloud-point h3 {
    margin-top: 0;
    line-height: 1;
}

.cloud-point>i {
    font-size: 30px;
    margin: 8px 10px 0 0;
    color: rgba(59, 108, 166, 1);
}

.cld-btns {
    justify-content: space-evenly;
}

.partners-section {
    padding: 70px 50px 50px;
    text-align: center;
}

.partners-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding: 20px 0;
}

.partner {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    width: 30%;
    transition: 0.2s;
}

.partner:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.partner img {
    max-width: 250px;
}


/* .contact-section {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(./assets/bg-banner.jpg) no-repeat center center;
    background-size: cover;
}

.contact-section>h1 {
    text-align: center;
    color: #fff;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 20px;
    width: 50%;
    padding: 50px;
    color: #fff;
}

.contact-left>i {
    font-size: 60px;
}

.contact-right {
    width: 50%;
    padding: 50px;
}

.contact-form>input, .contact-form>textarea {
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    border: 2px solid rgba(59, 108, 166, 1);
    background-color: #fff;
    transition: 0.3s;
}

.contact-form>input:focus, .contact-form>textarea:focus {
    background-color: aliceblue;
    transition: 0.3s;
} */



@media only screen and (max-width: 768px) {

    .hero-section {
        height: max-content;
    }

    .bgVideo {
        width: max-content;
        overflow: hidden;
    }
/*    .nav-bar {
        padding: 5px 20px;
        width: calc(100%);
    }

    .nav-links-colored a {
        color: #fff;
    }

    .hero-section {
        height: max-content;
    }

    .bgVideo {
        width: max-content;
        overflow: hidden;
    }

    .nav-links {
        display: flex;
        flex-direction: column;

        background: gray;
        position: fixed;
        top: 0;
        right: -100vw;
        height: 100vh;
        width: 100vw;
        max-width: 100vw;
        z-index: 2;
        transition: 0.4s ease-in-out;
        background: rgba(0, 0, 0, 0.9);
    }

    .nav-links>a {
        color: rgb(128, 128, 128);

    }

    .nav-links>span {
        text-align: center;
    }

    .nav-links>*:hover {
        color: #fff;
    }

    .nav-item {
        border-bottom: 1px solid #fff;
        border-radius: 0px;
        margin: 0 10px;
        padding: 10px 0;
    }

    .nav-bar i.fas {
        display: block;
        font-size: 20px;
        padding: 20px;
        text-align: right;
    }

    .nav-bar i.fas.fa-bars {
        padding: 0;
        color: rgb(59, 108, 166);
    } */

    .item-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .item-container span {
        font-size: 25px;
    }

    .main-text {
        font-size: 50px;
    }

    .price-container {
        top: 15%;
        left: 25%;
    }

    .price-container2 {
        top: 15%;
        right: 32%;
    }

    .price-container>span, .price-container2>span {
        font-size: 12px;
    }

    .price-container>div, .price-container2>div {
        font-size: 35px;
    }

    .price-container>p, .price-container2>p {
        font-size: 8px;
    }

    .left-item, .right-item {
        width: 100%;
    }

    .third-slide {
        display: block;
        position: relative;
    }

    .last-img {
        width: 100vw;
    }

    .services-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service-item {
        width: calc(100% - 40px);
    }

    .service-item>i {
        margin-bottom: 30px;
    }

    .service-item {
        margin-bottom: 50px;
    }

    .home-ad, .business-ad {
        background-position: center;
        /* background-size: 95vw; */
    }

    .cloud-container {
        flex-direction: column;
        padding: 70px 20px 50px;
    }

    .cloud-left, .cloud-right {
        margin: 0;
    }

    .cld-btns {
        flex-direction: column;
    }

    /* .contact-container {
        flex-direction: column;
    }

    .contact-left, .contact-right {
        width: 100%;
    } */

    .partners-container {
        flex-direction: column;
    }
    
    .partner {
        width: 100%;
    }

}