.nav-bar {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav-links a {
    color: rgba(0, 0, 0, 1);
}

.card-price {
    color: rgba(59, 108, 166, 1);
    font-size: 30px;
}

.card-price span {
    font-size: 90px;
}

.card-text {
    font-size: 25px;
}

.all-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 50px;
}

.all-projects>a:hover {
    text-decoration: none;
    transform: scale(1.05);
    transition: 0.3s;
}

.all-projects>a {
    text-align: center;
    border-radius: 10px;
    background: rgba(227, 105, 68, 0.2);
    color: rgba(227, 105, 68, 1);
    width: 48%;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid rgba(227, 105, 68, 1);
    transition: 0.3s;
}



@media only screen and (max-width: 768px) {
    .nav-links a {
        color: #fff;
    }

    .card-price {
        color: rgba(59, 108, 166, 1);
        font-size: 20px;
    }
    
    .card-price span {
        font-size: 70px;
    }
    
    .card-text {
        font-size: 15px;
    }

    .all-projects {
        flex-direction: column;
        padding: 30px;

    }

    .all-projects>a {
        width: 100%;
        margin-bottom: 10px;
    }
}
