.hero-container {
    background:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../assets/wholesale.jpg') center center no-repeat;
    background-size: cover;
}

.wholesale-body {
    padding: 50px 30px;

}

.wholesale-heading {
    background: rgba(59, 108, 166, 1);
    border-radius: 8px;
    padding: 10px 15px;
    color: #fff;
}

.wholesale-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.wholesale-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 25px;
    width: 40%;
    margin: 50px 0;
}

.blue-item {
    color: rgba(59, 108, 166, 1);
}

.orange-item {
    color: rgba(227, 105, 68, 1);
}

.item-header {
    margin: 0 0 10px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.item-content {
    text-align: center;
    color: gray;
}

.pa {
    padding: 25px;
    border-radius: 8px;
    border: 2px solid rgba(227, 105, 68, 1);
    /* background: rgba(227, 105, 68, 0.1); */
    background: rgba(59, 108, 166, 0.1);
    color: gray;
    text-align: center;
}

.pa > h1 {
    text-align: center;
    color: rgba(227, 105, 68, 1);
}

@media only screen and (max-width: 768px) {
    .wholesale-container {
        flex-direction: column;
    }
    
    .wholesale-item {
        width: 100%;
        margin: 20px 0;
    }
}